<!-- Modal content -->
<div class="modal-content" >
  	<div class="modal-header">
    	<h4>{{ InfoItem }}</h4>
  	</div>
  	<div class="modal-body">
        <div class="row">
			<div class="col-sm-12">
				<h4>DATA OVERVIEW</h4>
				<table>
				<tr>
					<th style="text-align:center">Format's Standard</th>
					<th style="text-align:center">Vocabulary</th>
					<th style="text-align:center">Metadata</th>
				</tr>
				<tr>
					<td style="text-align:center">{{Std}}</td>
					<td style="text-align:center">{{Voc}}</td>
					<td style="text-align:center">{{Metadata}}</td>
				</tr>
				</table>


    		</div>

    		<div class="col-sm-12">
    	
	    	<h4>ACCESSIBILITY</h4>

	    	<h6>Value:</h6>
			<pre>
			<xmp>
				{{ InfoXML }}
			</xmp>
			</pre>
			</div>	

			<div class="col-sm-12" ng-if="Metadata!=0">
			<h6>Metadata:</h6>
			<pre>
			<xmp>
				{{ InfoMetadataXML }}
			</xmp>
			</pre>
		</div>
	

			
		</div>
	</div>
</div>