<!-- Modal content -->
<div class="modal-content" > <!-- ng-controller="PopupCtrl"-->
  	<div class="modal-header">
    	<h2>{{ cart }}</h2>
  	</div>
  	<div class="modal-body">
        <div class="row">
			<div class="col-sm-6">
				<h4>DATA OVERVIEW</h4>
				<ul>
					<li>Standard-compliant? (JSON-LD, XML?)</li>
					<li>Metadata? (nb of Information in Metadata) </li>
					<li>Location(infoitem)? </li>
					<li>Reputation/Stars (nbs téléch., feedback) </li>
					<li>... </li>
				</ul>	
    		</div>
    		<div class="col-sm-6">
    	
	    	<h4>ACCESSIBILITY</h4>
			<pre>
			<xmp>
<InfoItem xmlns="odf.xsd" xmlns:omi="omi.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="BikeStands">
	<value unixTime="1472817408396" dateTime="2016-09-02T11:56:48.396Z" type="xs:double">34.0</value>
</InfoItem>
			</xmp>
			</pre>
			</div>	
		</div>
	</div>
</div>