<!--
//author: J. Robert
//creation date: 01/03/2016
//modified with: J. Morel (18/08/2016)
//modification date: 03/07/2017
-->

<div class="container">
  <!--<a href="#/member">Member space</a>-->
   
<ods-catalog-context context="biotope" biotope-domain="biotope" biotope-apikey="{{odsKey}}">

    <!--<ods-result-enumerator context="biotope" biotope-domain="biotope" biotope-apikey="{{odsKey}}">
        <p>{{item}}</p>
    </ods-result-enumerator>-->
        <h2>Keyword search</h2>
        <div class="row">
            
            <div class="col-xs-12">
                <ods-text-search placeholder="Search IoT data/service..." context="biotope"></ods-text-search>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="ods-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <ods-filter-summary context="biotope"></ods-filter-summary>
                        </div>
                    </div>
                    
                    <h2>Location search</h2>
                    <div class="row">
                        <div class="col-sm-2">

                        </div>
                        
                        <div class="col-sm-8">
                            
                            <ods-geo-search
                                context="biotope">
                            </ods-geo-search>
                            <!--<ods-map style="height: 10%;">
                                <ods-map-layer context="biotope" biotope-domain="biotope" biotope-apikey="{{odsKey}}">
                                </ods-map-layer>
                          
                            </ods-map>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <h2>Available IoT data/service</h2>



                    <div class="ods-box">
     
                     <!--<ods-table context="iotbnb"></ods-table>-->       
                       <!--<ods-table context="iotbnb" displayed-fields="{TYPE,URL,PATH}"></ods-table>-->
                      <!--<h4>Only the 100 first entries are shown. To refine your selection, please use the filters </h4>-->
                      <div id="table-wrapper">
                        <!--<div id="table-scroll"> -->
                            <table ods-results="items"
                                   ods-results-context="biotope"
                                   ods-results-max="15"
                                   show-hits-counter="false"
                                   style="width: 100%;"> 
                                   <!--<table ods-infinite-scroll-results="items" context="iotbnb">-->
                                <tr> 
                                    
                                    <!--<th>Id-Test</th>-->
                                    <th>Type</th>
                                    <th>IoT data/service</th>
                                    <!--<th>OMI node Path</th>-->
                                    <!--<th style="text-align:center">Resource link</th>-->
                                    <th style="text-align:center">Price</th>
                                    <th style="text-align:center">Reputation</th>
                                    <!--<th style="text-align:center">Overview</th> <!-- Advanced Statistics -->
                                    <th></th>
                                </tr>
                                <tr ng-repeat="item in items" ng-if="item.metas.title!='iotbnb-v2'">
                                    <!-- <td>{{ item.datasetid }}</td>    -->
                                    <td>{{ item.metas.type }}</td>
                                    <td>
                                        {{item.metas.title}}
                                        <!--<a href="{{ item.fields.url }}" target="_blank">
                                            {{ item.fields.url }}
                                        </a>-->
                                    </td>
                                    <!--<td>
                                        {{ item.metas.path }}
                                    </td>
                                    <td style="text-align:center">
                                        <a href="{{ item.fields.url }}Objects/{{ item.fields.path }}" target="_blank">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </td>-->

                                    <td style="text-align:center"> {{ item.metas.price }} <!-- {{ priceItemInit }} -->
                                       <span ng-if="item.metas.Billing==BTC"><i class="fa fa-btc" aria-hidden="true"></i></span>
                                    </td>

                                    <td style="text-align:center">

                                        <span ng-if="item.metas.reputation==0">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                        <span ng-if="item.metas.reputation==1">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                         <span ng-if="item.metas.reputation==2">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                          <span ng-if="item.metas.reputation==3">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>
                                                                               
                                         <span ng-if="item.metas.reputation==4">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                         <span ng-if="item.metas.reputation==5">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                    </td>

                                    <!--<td style="text-align:center">
                                        <a href="" ng-click="clickToOpen(item)"> 
                                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                                        </a>
                                    </td>-->

                                     <td>
                                      <ngcart-addtocart id="{{ item.datasetid }}" name="{{ item.metas.title  }}" price="{{ item.metas.price }}" quantity="1" >Add to Cart</ngcart-addtocart>
                                    </td>
                                </tr>
                            </table>
                            <ods-pagination-block
                               context="biotope"
                               per-page="15"
                               nofollow="true">
                            </ods-pagination-block>
                        </div>
                        <!--  </div> -->
                </div> 
                <br>
              
                    <div class="right"><button class="btn_red " 
                      ng-click="openCart()" >Show Cart</button> <!-- ng-disabled="cart.length == 0"
                      ng-show="cart.length != 0"-->
                    </div>
                       
            </div>
        </div>
    </div>
    

</ods-catalog-context>

    
</div>


 