<!--
//author: J. Robert
//creation date: 01/03/2016
//modified with: J. Morel (18/08/2016)
//modification date: 05/09/2016
-->

<div class="container">
  <a href="#/member">Member space</a>
   
    <ods-dataset-context  context="iotbnb"  iotbnb-domain="{{odsDomain}}" iotbnb-apikey="{{odsKey}}"
                       iotbnb-dataset="iot-bnb"
                       >
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="https://biotope.opendatasoft.com/explore/dataset/iot-bnb/" 
                   class="pull-right">
                    Source data
                </a>

                <h1 style="margin-top: 0">
                    IoT BnB
                </h1>    
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <ods-text-search placeholder="Search data..."
                                 context="iotbnb"></ods-text-search>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="ods-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <ods-filter-summary context="iotbnb"></ods-filter-summary>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4">

                            <ods-facets context="iotbnb">
                                <h2>
                                    Sensor type
                                </h2>

                                <ods-facet name="type" disjunctive="true"></ods-facet>
                                <ods-collapsible>
                                    <ods-collapsible-above-fold>
                                        Unit
                                    </ods-collapsible-above-fold>
                                    <ods-collapsible-fold>
                                        <ods-facet name="units" disjunctive="true"></ods-facet>
                                    </ods-collapsible-fold>
                                </ods-collapsible>
                            </ods-facets>

                        </div>
                        
                        <div class="col-sm-8">
                            <h2>
                                Location search
                            </h2>
                            
                            <ods-map>
                                <ods-map-layer context="iotbnb" 
                                               refine-on-click-context="iotbnb"
                                               refine-on-click-iotbnb-map-field="type"
                                               refine-on-click-iotbnb-context-field="type"></ods-map-layer>
                          
                            </ods-map>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <h2>DATA SOURCES</h2>

                    <div class="ods-box">

                       <!--<ods-table context="iotbnb" displayed-fields="{TYPE,URL,PATH}"></ods-table>-->
                      <h4>Only the 100 first entries are shown. To refine your selection, please use the filters </h4>
                      <div id="table-wrapper">
                        <div id="table-scroll">
                            <table ods-results="items"
                                   ods-results-context="iotbnb"
                                   ods-results-max="100"
                                   show-hits-counter="false"
                                   style="width: 100%;"> 
                                   <!--<table ods-infinite-scroll-results="items" context="iotbnb">-->
                                <tr> 
                                    <th>Type</th>
                                    <th>Root URL</th>
                                    <th>OMI node Path</th>
                                    <th style="text-align:center">Resource link</th>
                                    <th style="text-align:center">Price</th>
                                    <th style="text-align:center">Reputation</th>
                                    <th style="text-align:center">Overview</th> <!-- Advanced Statistics -->
                                    <th></th>
                                </tr>
                                <tr ng-repeat="item in items">
                                    <td>{{ item.fields.type }}</td>
                                    <td>
                                        <a href="{{ item.fields.url }}" target="_blank">
                                            {{ item.fields.url }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ item.fields.path }}
                                    </td>
                                    <td style="text-align:center">
                                        <a href="{{ item.fields.url }}Objects/{{ item.fields.path }}" target="_blank">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </td>

                                    <td style="text-align:center"> {{ stats[item.fields.url + "Objects/" + item.fields.path]["price"] }} <!-- {{ priceItemInit }} -->
                                       <span ng-if="stats[item.fields.url + 'Objects/' + item.fields.path]['billing']=='BTC'"><i class="fa fa-btc" aria-hidden="true"></i></span>
                                    </td>

                                    <td style="text-align:center">

                                        <span ng-if="stats[item.fields.url + 'Objects/' + item.fields.path]['reputation']==0">
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                        <span ng-if="stats[item.fields.url + 'Objects/' + item.fields.path]['reputation']==1">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                         <span ng-if="stats[item.fields.url + 'Objects/' + item.fields.path]['reputation']==2">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                          <span ng-if="stats[item.fields.url + 'Objects/' + item.fields.path]['reputation']==3">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>
                                                                               
                                         <span ng-if="stats[item.fields.url + 'Objects/' + item.fields.path]['reputation']==4">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>

                                         <span ng-if="stats[item.fields.url + 'Objects/' + item.fields.path]['reputation']==5">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                    </td>

                                    <td style="text-align:center">
                                        <a href="" ng-click="clickToOpen(item)"> 
                                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                                        </a>
                                    </td>

                                     <td>
                                      <ngcart-addtocart id="{{ item.fields.path }}" name="{{ item.fields.path  }}" price="{{ priceItemInit }}" quantity="1" >Add to Cart</ngcart-addtocart>
                                    </td>
                                </tr>
                            </table>
                          </div>
                      </div>
                </div> 
                <br>
              
                    <div class="right"><button class="btn_red " 
                      ng-click="openCart()" >Show Cart</button> <!-- ng-disabled="cart.length == 0"
                      ng-show="cart.length != 0"-->
                    </div>
                       
            </div>
        </div>
    </div>

    </ods-dataset-context>
</div>


 