<!--
//author: J. Robert
//creation date: 01/03/2016
//modification date: 18/08/2016
-->


<div class="row">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Member's menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/member">Personal Information</a></li>
            <li class="active"><a href="#/memberData">Your published data</a></li>
            <li><a href="#/memberDashboard">Your dashboard</a></li>
            <!-- <li><a ng-click="logout()">Log Out</a></li> -->
            <!--<li><a href="#">Reviews <span class="badge">1,118</span></a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>



<div class="col-sm-10">

    
<div class="container">
 <!-- <div ng-show="{{ error.show }}">{{ error.message }}<div>-->
<!-- {{ f }} -->
<!-- {{ Selected_ODF_Data }} -->
<!--  {{ rootUrl }} -->

  <div id="analytics">

    <div class="col-md-6">
       <span>Your available data:</span><br><br>
       <sensor-tree2  id="sensor-tree">
    </sensor-tree2>
    </div>

    <div class="col-md-6">
       <span>Your selected data to publish:</span><br><br>
       <sensor-tree3 id="sensor-tree3">
    </sensor-tree3><br><br><br>
    <div class="last"><a ng-click="publish()" class="btn">Publish Selected Data</a></div>
    </div>

   

  </div>
</div>



</div>