<!--
//author: J. Robert
//creation date: 01/03/2016
//modification date: 18/08/2016
-->


<div class="row">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Member's menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/member">Personal Information</a></li>
            <li><a href="#/memberData">Your published data</a></li>
            <li><a href="#/memberDashboard">Your dashboard</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


  <div class="col-sm-10">
  	<div class="container">
    <!--Welcome to your private space !-->

<div class="container-login">
        <form id="loginForm" >
                    <!--<h5>toto : {{redirectModeProfile.nickname}}</h5>-->
          <h5>Member information</h5>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" name='username' placeholder="{{redirectModeProfile.nickname}}" ng-model="userName2" readonly/>  <!-- ng-model="userName"  placeholder="{{userInfo.userName}}"-->        
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control" type="text" name='email' placeholder="{{redirectModeProfile.email}}" ng-model="email" readonly/>     <!-- ng-model="email" -->
          </div>
          <h5>Server information</h5>  
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name='omi-url' placeholder="Server's url (O-MI node)" ng-model="omiURL"/> <!--ng-model="-"-->    
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name='omi-name' placeholder="Server's name" ng-model="omiName"/>     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name='omi-add' placeholder="Server's address" ng-model="omiAddr"/>     
          </div>
          <div class="last"><a ng-click="saveProfile(userName2, email, omiURL, omiName, omiAddr)" class="btn">Save</a></div>
        </form> 
      </div> 




</div>
  </div>
</div>