<!--
//author: J. Robert
//creation date: 09/09/2016
//modification date: 09/09/2016
-->
<div class="row">

  <div class="col-sm-12">
  	<div class="container">
    <!--Welcome to your private space !-->

<div class="container-login">
        <form id="loginForm" >
                    <!--<h5>toto : {{redirectModeProfile.nickname}}</h5>-->
          <h5>Server information</h5>  
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name='omi-url' placeholder="Server's url (O-MI node)" ng-model="omiURL"/> <!--ng-model="-"-->    
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name='omi-name' placeholder="Server's name" ng-model="omiName"/>     
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" type="text" name='omi-add' placeholder="Server's address" ng-model="omiAddr"/>     
          </div>
          <div class="last"><a ng-click="saveServer(omiURL, omiName, omiAddr)" class="btn">Save</a></div>
        </form> 
      </div> 




</div>
  </div>
</div>