<!--
//author: J. Robert
//creation date: 01/03/2016
//modification date: 09/09/2016
-->


<div class="row">
<div class="col-sm-10">
    
<div class="container">
  <div id="analytics">

    <div class="col-md-6">
       <span>Your available data:</span><br><br>
       <sensor-tree2  id="sensor-tree">
    </sensor-tree2>
    </div>

    <div class="col-md-6">
       <span>Your selected data to publish:</span><br><br>
       <sensor-tree3 id="sensor-tree3">
    </sensor-tree3><br><br><br>
    <div class="last"><a ng-click="publish()" class="btn">Publish Selected Data</a></div>
    </div>
  </div>
</div>
</div>