<!--
//author: J. Robert
//creation date: 01/03/2016
//modification date: 09/09/2016
-->


<div class="row">
  <div class="col-sm-10">
  	<div class="container">
    <!--Welcome to your private space !-->


    <h4>Your Token: </h4>
    <div id="table-wrapper-token">
    <div id="table-scroll-token">
      <table style="width: 90%;">
        <tr> 
          <th>Id</th>
          <th>Token</th>
        </tr>
        <tr ng-repeat="item in Records">
          <td>{{ item.id }}</td>
          <td>{{ item.token }}</td>
        </tr>
        </table>  

</div>
  </div>
</div>