<!--
//author: J. Robert
//creation date: 01/03/2016
//modification date: 18/08/2016
-->

<footer class="footer">
  	<div class="container-footer">
  		<p></p> 
  		<div class='col-sm-6'>
  			<p>&copy; J. Robert - University of Luxembourg, SnT. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;</p> 
                    <h2><a href="#"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-facebook"></i></a> </h2> 
        </div>
        <div class='col-sm-6'>
            <img src="img/bIoTope_slogan_right_small.jpg" alt="" height="75"/> &nbsp;&nbsp;&nbsp;&nbsp;   
            <img src="img/euflag2.png" alt=""  height="75"/> &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img/snt.png" alt=""  height="75"/> &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img/unilu.jpg" alt=""  height="75"/>
        </div>
    </div>
</footer>