<!--
//author: J. Robert
//creation date: 01/03/2016
//modification date: 18/08/2016
-->

         <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-nav">
                <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#/">IoTBnB</a>  
                  <!--<a class="navbar-brand" href="#/">TBD</a>--> 
                </div>
                <div id="navbar" class="navbar-collapse collapse" ng-controller="LoginController">
                  <ul class="nav navbar-nav navbar-right">
                  <li><a href="#/seller">Become a seller</a></li>
                  <!-- <li><a href="#/login">Log in</a></li>-->
                  <li> <a ng-click="login()">Log in</a></li>
                  <!-- <li> <a ng-click="signin()">Log in</a></li> -->
                  <!-- <li><a href="#/member" ng-show="userName2" >MyAccount</a></li> -->
                  </ul>
                </div>
              </div>  
        </nav>

        <div class="jumbotron">
          <div class="container-header">
            <img src="img/bIoTope_slogan_right_small.jpg" alt="" height="100"/> &nbsp;&nbsp;&nbsp;&nbsp;   
            <img src="img/euflag2.png" alt=""  height="100"/> &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img/snt.png" alt=""  height="100"/> &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img/unilu.jpg" alt=""  height="100"/>
            <h2>Welcome to IoTBnB</h2>
            <!--<h2>Welcome to TBD</h2>-->
            <p>Publish, discover or bill amazing data over the world.</p>
            <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">How it works ? </a></p>-->
          </div>
        </div>